<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Antimatter bank</title>
</head>
<body>
    <h1>welcome {{ username }}</h1>
    <table>
      <tr>
          <th>AccNo</th>
          <th>Username</th>
          <th>Amount</th>
          <th>Actions</th>
      </tr>
      {% for data in datas %}
      <tr>
            <td>{{ data[0] }}</td>
            <td>{{ data[1] }}</td>
            <td>{{ data[2] }}</td>
            <td>
                <a href="{{ url_for('withdraw', id=data[0])}}">WITHDRAW</a>
                <a href="{{ url_for('credit', id=data[0])}}">CREDIT</a><br>
            </td>
      </tr>
      {% endfor %}
    </table>
    <a href="/logout">Logout</a>
</body>
</html>